.POPOSList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
    max-width: 1200px;
    margin: auto;
    padding: 2em;
} 

/* Smaller screens and tablets */
@media only screen and (max-width: 1000px) {
    .POPOSList {
        grid-template-columns: 1fr 1fr;
    }
}

/* Small screens mobile */
@media only screen and (max-width: 700px) {
    .POPOSList {
        grid-template-columns: 1fr;
    }
} 

.POPOSListForm {
    width: 30%;
    margin: auto;
}

.POPOSListForm form {
    display: flex;
    align-items: flex-start;
}

.POPOSListForm form input, .POPOSListForm form button {
    padding: 0.5em;
    margin: 0;
    border: 1px solid;
    font-size: 1;
}

.POPOSListForm form input {
    flex: 1;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}

.POPOSListForm form button {
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}